<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <script>
      function writeCheck() {
          var form = document.writeform;
          console.log(form);
          if (!form.author.value)
          {
              alert("이름을 적어주세요");
              form.author.focus();
              return;
          }
          if (!form.title.value) {
              alert("제목을 적어주세요");
              form.title.focus();
              return;
          }
          if (!form.text.value) {
              alert("내용을 적어주세요");
              form.text.focus();
              return;
          }
          form.submit();
      }
  </script>

  <table width=700 border=1 cellspacing=0 cellpadding=5>
  <form name=writeform method=post action="DoWriteBoard">
  <tr><td><b>이름</b></td><td><input type=text name='author' size=50  maxlength=50></td></tr>
  <tr><td><b>제목</b></td><td><input type=text name='title' size=50  maxlength=50></td></tr>
  <tr><td><b>내용</b></td><td><textarea name='text' cols=50 rows=10></textarea></td></tr>
  </form>
  </table>

  <table width=700 border=1 cellspacing=0 cellpadding=0>
  <tr><td>
  <input type=button value="등록" OnClick="writeCheck();">
  </td></tr>
  </table>

</body>
</html>